{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Restablecimiento de Contraseña Enviado{% endblock %}

{% block content %}

<div style="
    background-image: url('{% static 'img/imagen-reserva.webp' %}');
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
    margin-top: -230px;
    z-index: 1;
  "></div>

<div class="container mt-5" style="margin-bottom: 140px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow">
                <h2 class="text-center mb-4">Restablecimiento de Contraseña Enviado</h2>
                <p>Hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña. Por favor,
                    revisa tu bandeja de entrada y sigue las instrucciones proporcionadas.</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}