{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Confirmar Restablecimiento de Contraseña{% endblock %}

{% block content %}

<div style="
    background-image: url('{% static 'img/imagen-reserva.webp' %}');
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
    margin-top: -230px;
    z-index: 1;
  "></div>

<div class="container mt-5 mb-5" >
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow">
                <h2 class="text-center mb-4">Confirmar Restablecimiento de Contraseña</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="col-12 text-right">
                        <button type="submit" class="btn btn-primary mt-3">Confirmar Restablecimiento</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}