{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Restablecimiento de Contraseña Completado{% endblock %}

{% block content %}

<div style="
    background-image: url('{% static 'img/imagen-reserva.webp' %}');
    position: relative;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
    margin-top: -230px;
    z-index: 1;
  "></div>

<div class="container mt-5" style="margin-bottom: 140px;">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4 shadow">
                <h2 class="text-center mb-4">Restablecimiento de Contraseña Completado</h2>
                <p>Tu contraseña ha sido restablecida con éxito. Ahora puedes iniciar sesión con tu nueva contraseña.
                </p>
                <div class="text-center mt-3">
                    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}